{% extends "index_template.html" %}

{% import "macros/input_macros.html" as im %}
{% import "macros/temp_maros.html" as tmp %}
{% import "macros/form_maros.html" as frm %}



{% block main %}
<div class="container">
    <div class="row" id="userInfo">
        <div class="col-2" id="profileImag">
            <div class="container">
            <img src="{{url_for('static',filename= 'databases/img/profiles/'~user.image_file) }}" alt="..." class="rounded-circle" id="profileAvatar">
            </div>
        </div>
        <div class="col-4">
        <div class="container">
            <h4 id ="profileUsername"> {{user.username}} </h4>
            <h5 id="profileBio"> {{ user.bio }}</h5> 
        </div>
        </div>
    </div>
    {% block tabs %} {% endblock %}


</div>

{% endblock %}

