{% extends "user/profile_temp.html" %}
{% block title %} {{user.username}} {% endblock %}


{% block tabs%}
  <br>
  <h1 class="profileTitle">Posts</h1>
  <hr>
  
  <!--- USER POSTS, PETS, and SETTINGS -->
  <div class="row">
    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

        <a class="nav-link active profileTitleBtn"  title="Posts" id="v-pills-posts-tab" data-toggle="pill" href="#v-pills-posts" role="tab" aria-controls="v-pills-posts" aria-selected="true"><i class="fa fa-edit"></i> Posts</a>
        <a class="nav-link profileTitleBtn"  title="Pets" id="v-pills-pets-tab" data-toggle="pill" href="#v-pills-pets" role="tab" aria-controls="v-pills-pets" aria-selected="false"><i class="fas fa-paw"></i> Pets</a>
        <a class="nav-link profileTitleBtn"  title="Message" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fas fa-comment-alt"></i> Message</a>

      </div>
    </div>
    <div class="col">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-posts" role="tabpanel" aria-labelledby="v-pills-posts-tab"> 
          {{ tmp.viewProfilePostCards(posts)}}
        </div> 
        <div class="tab-pane fade" id="v-pills-pets" role="tabpanel" aria-labelledby="v-pills-pets-tab"> 
            {{ tmp.viewProfilePetCards(pets) }}
          </div>
        <div class="tab-pane fade" id="v-pills-favorites" role="tabpanel" aria-labelledby="v-pills-favorites-tab">Cooming Soon</div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">Cooming Soon</div>
      </div>

    </div>
  </div>
  {% endblock %}


