{% extends "index_template.html" %}
{% import "macros/message_macro.html" as msg %}

{% block main %}
<div class="container">
{{ msg.chat(friends) }}
</div>

{% endblock %}

{% block script %}
<script>
setInterval(function()
{
    let entry = { "currUser": `{{ user.username|safe}}`, "otherUser": $(".conversation.active").find(".title-text").text() };
    getMessagesFromServer(entry);
}, 35000);

$(function() {
    $('.conversation').bind('click', function() {
        // remove the active class from all elements with active class
        $('.conversation.active').removeClass('active');
        // add active class to clicked element
        $(this).addClass('active');
        $(this).find(".conversation-alert").removeClass("active");
        // load messages
        let entry = { "currUser": `{{ user.username|safe}}`, "otherUser": $(".conversation.active").find(".title-text").text() };

        getMessagesFromServer(entry);
        // display messages on window
        //send request for seen messages
    });
    
    $("#message_text").on('keyup', function(event) {
        if (event.key =="Enter" || event.keyCode === 13 ){
            let msg = $("#message_text").val();
            let sender = '{{ user.username|safe}}';
           // let img = `{{ user.image_file|safe }}`;

            sessionStorage.reciever = $(".conversation.active").find(".title-text").text();
            
            $.post("/sendMessage",{"msg":msg,"sender":sender,"reciever":sessionStorage.getItem("reciever")}, function(){

                ($("#message_text").val(""));
                $(".conversation.active").find(".conversation-alert").removeClass("active");
            });
        }
    });
    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;
    var pusher = new Pusher('c7fa9a824f00223cea96', {
        cluster: 'us2'
    });
    
    var channel = pusher.subscribe('chat-channel');

    channel.bind('new-message', function(data) {
        let sender = data.sender;
        let reciever = data.reciever;
        let message_template = ``;
        sessionStorage.reciever = $(".conversation.active").find(".title-text").text();

        if((sender === `{{user.username|safe}}`) && (reciever === sessionStorage.getItem("reciever"))){
            message_template = `<div class="message-row your-message">
                                            <div class="message-content">
                                                <img src=''/>
                                                <div class="message-text">
                                                    ${data.message}
                                                </div>
                                                <div class="message-time">
                                                    ${data.date}
                                                </div>
                                            </div>  
                                        </div>` ;
        }
        else if (reciever === `{{user.username|safe}}`)
        {
            console.log("sender "+ sessionStorage.getItem("reciever") );
            $("#"+sender).addClass("active");
        
            if ( sender === sessionStorage.getItem("reciever") )
            {
                message_template = `<div class="message-row other-message">
                                                <div class="message-content">
                                                    <img src='../static/img/${data.img}'/>
                                                    <div class="message-text">
                                                        ${data.message}
                                                    </div>
                                                    <div class="message-time">
                                                        ${data.date}
                                                    </div>
                                                </div>  
                                            </div>` ;
            }
        }
        ($("#chat-message-list").prepend(message_template));
            
        });
    });
           
  </script>

{% endblock %}