
body{
  background-color: white;
}

.header {
  padding: 40px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Increase the font size of the heading */

.btn-primary,.btn-primary:active, .btn-primary:visited {
  background-color: #1abc9c !important;
  border: #1abc9c;
}
.btn-primary:hover{
  background-color: #24a38a !important;

}
.table {
  width: 70%;
}

/* Post container */

.signup_page{
  padding-bottom: 300px;
}

.scroll{
  height: 80vh; 
  overflow:hidden; 
  overflow-y:scroll;
}


/* 
--- HOME Page --------------
 */
 #addPost{
  position: fixed;
  bottom: 10px;
  right: 23%;
 }

 /* 
--- SEARCH PET Page --------------
 */
 #searchPetsPage{
   padding-left: 5%;
   padding-right: 10%;
 }
 #addPet{
   position: fixed;
   bottom:10px;
   right:5%;
 }

 #searchForm{
  border-radius: 10px;
   background-color: whitesmoke;
   border: thick solid whitesmoke;
   padding: 5% 5% 5% 5%;
 }

 .like{
  color: #00000030;
  z-index:1;
  position: absolute;
  top: -0.2em;
  right: 0.5em;
  font-size: 3.2em;
}
.heart i.fa-heart{
  color: red;
  
}
.heart i.fa-heart:hover,
i.fa-heart:hover{
  color:#f44336;
}

 /* 
 --- Sign Up Page ---
 */
 .signUp{
  top: 20%;
  border-radius: 15px;
  background-color: whitesmoke;
  padding: 10px 20px 20px 20px;
 }

/* 
---- LOGIN Page --------------
 */
.login{
  top: 30%;
  border-radius: 15px;
  background-color: whitesmoke;
  padding: 10px 15px 10px 15px;

}
.underline{
  text-decoration: underline;
}

/* unvisited link */
.underline:link {
  color:blue;
}

/* visited link */
.underline:visited {
  color: rgb(0, 140, 255);
}

/* mouse over link */
.underline:hover {
  color:#1abc9c;
}

/* selected link */
.underline:active {
  color:green;
}

/* 
----PROFILE Page --------------
 */
.btn-edit{
  z-index:1;
  position: absolute;
  top: 10px;
  right: 25px;
}
.pet-card{
  background-color: whitesmoke;
  border-radius: 10px;
}

#v-pills-posts{
  background-color:whitesmoke;
}
#v-pills-pets{
  background-color:whites;

}
#v-pills-settings{
  background-color: white;
}
#userInfo{
  padding-top: 25px;
}
#v-pills-tab{
  background-color: whitesmoke;
}

#v-pills-pets-tab:visited,
#v-pills-posts-tab:visited, 
#v-pills-favorites-tab:visited,
#v-pills-messages-tab:visited,
#v-pills-settings-tab:visited {
  background-color: #1abc9c !important ;
}
.profileTitleBtn:visited{
  background-color: #1abc9c !important ;
}
.profileTitle{
  font-weight: 700;
}
.settingLabels{
  color: gray;
}
#profileUsername{
  font-weight: bold;
}

/*
 ---------- Message ------
*/
.size{
  height: 100vh;
}
#chat-container{
  display: grid;
  grid:
    'search-container chat-title' 10% 
    'conversation-list chat-message-list' 80% 
    'new-message-container chat-form' 10% 
    / auto 75%; 
  width: 100%;
  height: 80vh;
  background-color: rgba(250, 248, 248, 0.89);
  border-radius: 10px;
}

#search-container, 
#conversation-list, 
#new-message-container{
  background-color: #1abc9c;
}
#search-container{
  grid-area: search-container;
  display: grid;
  align-items: center;
  padding: 0 15px;
  border-radius: 10px 0 0 0;
  box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
  z-index: 1;
}

#conversation-list{
  grid-area: conversation-list;
  overflow-y: scroll;
}
.conversation{
  display: grid;
  grid-template-columns: 50px 1fr max-content;
  grid-gap: 3px;
  padding: 10px;
  color: #ddd;
  font-size: 1.3rem;
  border-bottom: 1px solid #008369;
  position: relative;
}
.conversation.active,
.conversation:hover{
  background: #0a866d;
}
.conversation:hover{
  cursor: pointer;
}
.conversation > img{
  grid-row: span 2;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.title-text{
  font-weight: bold;
  color: #eee;
  padding-left: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
}
.created-date{
  color: #ddd;
  font-size: 0.8rem;
}
.conversation-message{
  grid-column: span 2;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: .95rem;
}
.conversation-alert {
  color: #ffffff00;
  display: inline-block;
  position:absolute;
  top: 1%;
  left: 2%;
}
.conversation-alert.active{
  color:red;
}


#new-message-container{
  grid-area: new-message-container;
  border-top: 1px solid rgba(0,0,0,0.25);
  border-radius: 0 0 0 10px;
}

#chat-title,
#chat-form{
  background: #eee;
}
#chat-title{
  grid-area: chat-title;
  display: grid;
  grid: 36px / 1fr 36px;
  align-content: center;
  align-items: center;
  color: #159b80;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 0 10px 0 0;
  box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
  padding: 0 20px;
}
#chat-title > i{
  cursor: pointer;
}

#chat-message-list{
  grid-area:chat-message-list;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px;
  overflow-y: scroll;
}
.message-row{
  display: grid;
  grid-template-columns: 70%;
  margin-bottom: 20px;
}
.message-content{
  display: grid;
}
.your-message .message-content{
  justify-items: end;
  grid-template-columns: 50px 1fr;
}
.other-message .message-content{
  grid-template-columns: 50px 1fr;
  grid-column-gap: 10px;
}
.your-message{
  justify-content: end;
}
.other-message{
  justify-items: start;
}
.message-row img{
  height: 50px;
  border-radius: 100%;
  grid-row: span 2;
}
.message-text{
  padding: 9px 14px;
  font-size: 1.1rem;
  margin-bottom: 5px;
}
.message-time{
  font-size: 1rem;
  color: #777;
}
.your-message .message-text{
  background: #008369;
  color: #eee;
  border: 1px solid #008369;
  border-radius: 14px 14px 0 14px;
}
.other-message .message-text{
  background: #eee;
  color: #111;
  border: 1px solid #ddd;
  border-radius: 14px 14px 14px 0;
}

#chat-form{
  display: grid;
  align-items: center;
  grid-area: chat-form;
  padding-left: 10px;
  padding-right: 30px;
  border-radius: 0 0 10px 0;
  border-top: 1px solid rgba(0,0,0,0.25); 
}

input[type=text]:focus{
  outline: none;
  box-shadow: 0 0 0 1px gray;
  border: none;
}

::-webkit-scrollbar {
  display: none;
}
