
body{
	background-color: whitesmoke
}

.header {
  padding: 40px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}
/* Post container */
.col-6 {
  background-color: white;
}
.signup_page{
  padding-bottom: 300px;
}

.scroll{
  height:90%; 
  overflow:hidden; 
  overflow-y:scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

/* 
--- HOME Page --------------
 */
 #addPost{
  position: fixed;
  bottom: 10px;
  right: 23%;

 }

 /* 
--- SEARCH PET Page --------------
 */
 #addPet{
   position: fixed;
   bottom:10px;
   right:5%;
 }

 .btn-like{
   background-color: #ffffff;
 }


/* 
---- LOGIN Page --------------
 */
.login{
  top: 30%;
  border-radius: 25px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.underline{
  text-decoration: underline;
}

/* unvisited link */
.underline:link {
  color:blue;
}

/* visited link */
.underline:visited {
  color:rgb(72, 72, 253);
}

/* mouse over link */
.underline:hover {
  color:rgb(43, 233, 43);
}

/* selected link */
.underline:active {
  color:green;
}

/* 
----PROFILE Page --------------
 */

.btn-delete{
  position: absolute;
  top: 10px;
  right: 25px;
}
.user-pet{
  background-color: white;
}
