
body{
	background-color: #f1f1f1
}

.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}
/* Post container */
.col-6 {
  background-color: white;
}


/* Individual Post*/
#module a.collapsed:after {
	content: '+ Show More';
}

#module a:not(.collapsed):after {
	content: '- Show Less';
}

#module #collapseExample.collapse:not(.show) {
  display: block;
  /* height = lineheight * no of lines to display */
  height: 1.5em;
  overflow: hidden;
}

#module #collapseExample.collapsing {
  height: 1.5em;
}


/* 
----Profile Page --------------
 */
#userInfo{
  background-color: white;
}