
body{
	background-color: whitesmoke
}

.header {
  padding: 40px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}
/* Post container */
.col-6 {
  background-color: white;
}
.signup_page{
  padding-bottom: 300px;
}
.col-8 {
  background-color: white;
}
.scroll{
  height:90%; 
  overflow:hidden; 
  overflow-y:scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

/* 
----Profile Page --------------
 */
#userInfo{
  background-color: white;
}

