{% extends "index_template.html" %}

{% from "macros/form_macro.html" import render_field %}
{% from "macros/form_macro.html" import render_field1 %}
{% from "macros/form_macro.html" import render_field2 %}
{% from "macros/form_macro.html" import render_field3 %}
{% from "macros/form_macro.html" import render_field4 %}
{% from "macros/form_macro.html" import render_field5 %}
{% from "macros/form_macro.html" import render_petCard as petCard %}

{% block title%} Search Pets {% endblock%}

{% block main %}
<div id="searchPetsPage">
    <h1> Search Pets </h1>

    <br>
    <div class="row ">
        <div class="col-12 col-sm-6 col-md-5 col-lg-3">
            <div class="container">
                <form  method=post enctype="multipart/form-data" id="searchForm">
                   <!--<div class="row">
                        <div class="col-1">
                            <dd>{{ searchForm.petfinder( class="form-control")|safe }}
                                {% if searchForm.petfinder.errors %}
                                <ul class=errors>
                                    {% for error in searchForm.petfinder.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </dd>
                        </div> 
                        <div class="col">
                            <label class="form-label"> {{ searchForm.petfinder.label }} </label>
                        </div>
                    </div>
                    <hr>--> 
                    
                    <span id='selectSearchPet'></span>
                    {{render_field4( searchForm.type, "w-100","false" )}}
                    <div class="searchPets">
                        {{render_field4( searchForm.breed, "w-100","true" )}}
                        {{render_field4( searchForm.age, "w-100","false" )}}
                        {{render_field4( searchForm.size, "w-100","false" )}}
                        {{render_field4( searchForm.gender, "w-100","false" )}}
                        {{render_field4( searchForm.goodwith, "w-100","false" )}}
                        {{render_field4( searchForm.coat, "w-100","false" )}}
                        {{render_field4( searchForm.color, "w-100","true" )}}
                        {{render_field4( searchForm.care, "w-100","false" )}}
                        {{render_field4( searchForm.days, "w-100","false" )}}
                        {{render_field( searchForm.name, "form-control" )}}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning float-right searchPets-btn">Search</button>
                    </div>
            </div>
        </div>
        <br>
        <div class="col">
            <div class="container location-search">
                <span id ='location'></span>
                <div class="location-container ">
                    {{ render_field1(searchForm.city, "form-control","col-sm-3 col-lg-4 col-xl-2 col-form-label") }}
                    {{ render_field1(searchForm.state, "form-control") }}
                    <button type="submit" class="btn btn-warning float-right searchPets-btn">Search</button>
                    {% if current_user.is_authenticated %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#petModal">Add
                                Pet</button>
                    {% else %}
                        <button type="button" class="btn btn-primary" onclick="location.href = '/register';">Add
                                Pet</button>
                    {% endif %}
                    
                </div>
            </div>
            </form>       
            <br>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2  row-cols-xl-3" id="petCard">
                {% if 1 > pets|length and finder_pets is none %}
                <h2>None Found</h2>
                {% endif %}
                {% for pet in pets %}
                <div class="col mb-4 lg-4 lx-6">
                    <div class="pet-card card-body" id="module">
                        {{ petCard(pet) }}
                        {% if current_user.is_authenticated %}
                        {% if pet in current_user.liked_pets %}
                        <a href="" class="favorite active" item_id="{{ pet.id }}" saveType="heart" onclick="save(this);"> <i class="bi bi-suit-heart-fill"></i>
                        </a>
                        {% else %}
                        <a href="" class="favorite" item_id="{{ pet.id }}" saveType="heart" onclick="save(this);"> <i class="bi bi-suit-heart-fill"></i> </a>
                        {% endif %}
                        {% else %}
                        <a href="/register" class="favorite"> <i class="bi bi-suit-heart-fill"></i> </a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <br>
                {% if finder_pets is not none %}
                {% for find in finder_pets %}
                <div class="col mb-4 lg-4 lx-6">
                    <div class="pet-card card-body" id="module">
                        <div class="card">
                            <img src="{{ find.image }}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title text-center" style="font-weight: bold;"> {{ find.name }} </h5>
                                <p class="card-text text-center">{{ find.age }} - {{ find.location }} </p>
                                <a href="{{url_for('viewPetFinder', petID=find.id)}}" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        {% if current_user.is_authenticated %}
        <!-- Button trigger modal -->
        <button type="button" id="addPet" class="btn" data-toggle="modal" data-target="#petModal"><i class="bi bi-plus-circle-fill"></i></button>
        {% endif %}

        <!-- Modal -->
        <div class="modal fade" id="petModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-scrollable modal-dialog-centered">
                <div class="modal-content">
                    <form action="{{url_for('addPet')}}" method=post enctype="multipart/form-data" id="addPetForm">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Pet</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <dl>
                                <div class="col-12">
                                    <img src="" class="card-img-top" id="display">
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Pet Image</label></label>
                                    <input class="form-control" type="file" id="image" accept=".jpg, .png" name="image" required>
                                </div>
                                {{ render_field1(form.name, "form-control") }}
                                <span id="selectPet"></span>
                                {{ render_field1(form.type, "form-control petType") }}
                                <div class="petOption"></div>
                                
                                <hr>
                                {{ render_field1(form.city, "form-control") }}
                                {{ render_field1(form.state, "form-control") }}
                                {{ render_field1(form.zip, "form-control") }}
                                <hr>
                                

                            </dl>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" >Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
{% block script %}
<style>
    .bootstrap-select .btn:focus,
    .bootstrap-select .btn:active,
    .bootstrap-select .btn {
        outline: none !important;
        background-color: white;
        border: 1px solid lightgray;
    }
</style>
<script>
    function checkLocation(){
        let city = $.trim($('#city').val());
        let state = $('#state').val();
        if(city != '' && state != 'None'){
            $('#location').text('');
            return true
        }
        $('#location').text('Select Location');
        return false
    }
    // To style all selects
    $("#searchForm").submit(function(event){
        let type = $('#type').val() == 'None';
        if(type){
            $('#selectSearchPet').text('Select Pet');
            event.preventDefault();
        }
    });
    $(".searchPets").change(function (event) {
        event.preventDefault();
        //let location = checkLocation();
        let type = $('#type').val() != 'None';
        if(!type){
            $('#selectSearchPet').text('Select Pet');
        }
        else if(checkLocation()){
            const formData = new FormData(document.querySelector('#searchForm'));

            sendForm("/searchPets/filters", formData)
                .then(data => {
                    $('#petCard').empty();
                    let pets = data.pets;
                    let temp =``;
                    if( pets.length <1){
                        temp = `<h2>None Found</h2>`
                        $('#petCard').append(temp);
                        return
                    }
                    pets.forEach(pet =>{
                        temp =` <div class="col mb-4 lg-4 lx-6">
                                <div class="pet-card card-body" id="module">
                                    <div class="card">
                                        <img src="../static/img/pets/${pet.image}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title text-center" style="font-weight: bold; text-transform: capitalize;"> ${pet.name} </h5>
                                            <p class="card-text text-center" style="text-transform: capitalize;">${pet.age} - ${pet.breed} - ${pet.city}, ${pet.state}</p>
                                            <a href="/searchPets/viewPet=${pet.id}/" class="stretched-link"></a>
                                        </div>
                                    </div>
                                    <div id="link${pet.id}">
                                        {% if current_user.is_authenticated %}
                                        <a href="" class="favorite save" item_id="${pet.id}" saveType="heart" onclick="save(this);"> <i class="bi bi-suit-heart-fill"></i> </a>   
                                        {% else %}
                                        <a href="/register" class="favorite"> <i class="bi bi-suit-heart-fill"></i> </a>
                                        {% endif %}
                                    </div>
                                </div>
                                </div>`
                        $('#petCard').append(temp);
                        let link =``
                        if (pet.liked == true){
                            $('#link'+pet.id).empty();
                            link = `<a href="" class="favorite active" item_id="${pet.id}" saveType="heart" onclick="save(this);"> <i class="bi bi-suit-heart-fill"></i> </a>`
                            $('#link'+pet.id).append(link);
                        }
                    });
                    console.log(data.update);
                })
                .catch(error => {
                    console.log(error);
                });
        }
    });

$("#addPetForm").submit(function(event){
    let petType = $('.petType').val();
    if (petType == 'None'){
        $('#selectPet').text('Select pet type');
        event.preventDefault();
    }
});

// OPTIONS FORMS
$('#type').change(function (event) {
        // check city and state
        let location = checkLocation();
        if(location){
            $("#searchForm").submit();
        }
        
    });

$('.petType').change(function (event) {
        let type = $(".petType").val()
        let temp = ``
        $('.petOption').empty();
        $('#selectPet').empty();
        if (type == 'dog') {
            temp = `{% set form = form|searchOption( "dog" ) %}
                <hr>
                {{ render_field5(form.breed, "form-control","true") }}
                {{ render_field5(form.age, "form-control") }}
                {{ render_field5(form.gender, "form-control") }}
                {{ render_field5(form.size, "form-control") }}
                {{ render_field5(form.coat, "form-control") }}
                {{ render_field5(form.goodwith, "form-control") }}
                {{ render_field5(form.color, "form-control selectpicker", "true") }}
                {{ render_field5(form.care, "form-control") }}
                {{ render_field(form.description, "form-control") }}`
            $('.petOption').append(temp);
            
        }
        else if (type == 'cat') {
            temp = `{% set form = form|searchOption( "cat" ) %}
                <hr>
                {{ render_field5(form.breed, "form-control","true") }}
                {{ render_field5(form.age, "form-control") }}
                {{ render_field5(form.gender, "form-control") }}
                {{ render_field5(form.size, "form-control") }}
                {{ render_field5(form.coat, "form-control") }}
                {{ render_field5(form.goodwith, "form-control") }}
                {{ render_field5(form.color, "form-control selectpicker", "true") }}
                {{ render_field5(form.care, "form-control") }}
                {{ render_field(form.description, "form-control") }}`
            $('.petOption').append(temp);
        }
        else if (type =='rabbit'){
            temp = `{% set form = form|searchOption( "rabbit" ) %}
                <hr>
                {{ render_field5(form.breed, "form-control","true") }}
                {{ render_field5(form.age, "form-control") }}
                {{ render_field5(form.gender, "form-control") }}
                {{ render_field5(form.size, "form-control") }}
                {{ render_field5(form.coat, "form-control") }}
                {{ render_field5(form.goodwith, "form-control") }}
                {{ render_field5(form.color, "form-control selectpicker", "true") }}
                {{ render_field5(form.care, "form-control") }}
                {{ render_field(form.description, "form-control") }}`
            $('.petOption').append(temp);

        }
        $('.search_select select').selectpicker();
        $('.selectpicker').selectpicker();
    });

</script>

{% endblock %}