{% extends "index_template.html" %}
{% from "macros/form_macro.html" import render_field %}

{% block title%} Register {% endblock%}

{% block main %}
<div class ="signup_page">
	<div class ="row">
		<div class ="col">
		</div>

		<div class="col-8">
			<div class="container signUp col-5">
				<h2> Register</h2>
				<form method=post>
				<dl>
					{{ render_field(form.username) }}
					{{ render_field(form.email) }}
					{{ render_field(form.password) }}
					{{ render_field(form.confirm) }}
				</dl>
				<div class="form-group"> 
					<button type="submit" class="btn btn-primary"> Register </button>
					<a class="nav-link underline" href="/login" style="float: right;"> login </a> 
				</div>
				</form>
				<!-- <form id="login" action="{{ url_for('register')}}" method="POST" enctype="multipart/form-data"> </form> -->			
			</div>
			
		</div>

		<div class ="col">
		</div>
	</div>
</div>

{% endblock %}