{% extends "index_template.html" %}

{% import "macros/temp_pet.html" as pt %}

{% block title%} EditPet {% endblock%}

{% block main %}
<div class="container">
<div class="row">
    <div class="col">
        <img src="{{url_for('static',filename= 'img/pets/'~ pet.original_image )}}" class="card-img-top" alt="...">
    </div>
    <div class="col-5">
        <form>
            {{ pt.editPetForm(pet) }}
            <button  class="btn btn-danger">Delete</button>
            <button  class="btn btn-warning">Adopted</button>
            <button  class="btn btn-primary float-right">Update</button>
        </form>
    </div>
</div>
    

</div>
{% endblock %}
