{% extends "index_template.html" %}

{% import "macros/temp_pet.html" as pt %}

{% block title%} Feed {% endblock%}

{% block main %}
<br>
<div class="container">
  <div class="row">
    <div class="col">
        <img src="{{url_for('static',filename= 'img/pets/'~ pet.original_image )}}" class="card-img-top" alt="...">
    </div>
    <div class="col-5">
      {{pt.viewPet(pet, owner)}}
    </div>
  </div>
  <div class="row">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label settingLabels">Description </label>
      <div class="col-sm-12">
          <p>{{pet.description}}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
