{% macro input( label, type="text", name = "", id="", placeholder = "") -%}
<div class = 'form-group'>
	<label for="formGroupExampleInput">{{ label }}</label>
	<input class="form-control" type="{{ type }}" name="{{ name }}" id="{{ id }}" placeholder="{{ placeholder }}">
</div>
{%- endmacro %}


{% macro postCardImage(title, post, image, date) -%}
<div class="card mb-3">
	<div class="card-body" id="module">
		<h5  class="card-title" > {{ title }} </h5> 
		<p class="collapse" id="collapseExample" aria-expanded="false">
			{{ post }}
		</p>

		<div>
			<img src="{{ image }}" class="rounded mx-auto d-block" alt="...">
		</div>
	
		<p class="card-text">
			<small class="text-muted">Created {{ date }}</small>
		</p>
	</div>
</div>
{%- endmacro%}


{% macro postCard(title, post, date ) -%}
<div class="card mb-3">
	<div class="card-body" id="module">

		<h5  class="card-title"> {{ title }} </h5> 
		<p class="collapse" id="collapseExample" aria-expanded="false">
			{{ post }}
		</p>
		
		<p class="card-text">
			<small class="text-muted">Created {{ date }}</small>
		</p>
	</div>
</div>
{%- endmacro%}


{% macro petCard(pet) -%}
<div class="card">
	<img src="{{url_for('static',filename= 'img/pets/'~ pet.image_file )}}" class="card-img-top" alt="...">
	<div class="card-body">
		<h5 class="card-title">{{ pet.name }}</h5>
		<p class="card-text">{{ pet.description }}</p>
		<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	</div>
</div>
{%- endmacro%}

{% macro petForm(form) -%}
<div class="container">

	<div class="form-group"> <p>Upload pet image: </p>{{ form.img() }}</div>
	<div class="form-group"> {{ form.gender.label }} {{ form.gender(class="custom-select my-1 mr-sm-2")}} </div>
	<div class="form-group"> {{ form.size.label }} {{ form.size(class="custom-select my-1 mr-sm-2")}} </div>
	<div class="form-group"> {{ form.name.label }} {{ form.name(class ="form-control")}} </div>
	<div class="form-group"> {{ form.age.label }} {{ form.age(class ="form-control")}} </div>
	<div class="form-group"> {{ form.description.label }} {{ form.description(class ="form-control") }}</div>

</div>
{%- endmacro %}