{% extends "index_template.html" %}

{% block title%} Register {% endblock%}

{% block main %}
<div class ="signup_page">
	<div class ="row">
		<div class ="col">
		</div>

		<div class="col-8">
			<div class="container signUp col-5">
				<h2> Sign up </h2>
				<form method="POST" action="{{ url_for('register') }}" enctype="multipart/form-data">
					{{ form.csrf_token }}
					<div class="form-field"> {{ form.username.label }} 	{{ form.username(class ="form-control") }} </div>
					<div class="form-field"> {{ form.email.label }} 	{{ form.email(class ="form-control") 	}} </div>
					<div class="form-field"> {{ form.password.label }} 	{{ form.password(class ="form-control") }} </div>
					<div class="form-field"> {{ form.confirm.label }} 	{{ form.confirm(class ="form-control") 	}} </div>
					<br>
					<div class="form-field">
						<button type="submit" class="btn btn-primary"> Register </button>
						<a class="nav-link underline" href="/login" style="float: right;"> login </a> 
					</div>	
				</form>
			</div>
			
		</div>

		<div class ="col">
		</div>
	</div>
</div>

{% endblock %}