{% macro input( label, type="text", name = "", id="", placeholder = "") -%}
<div class = 'form-group'>
	<label for="formGroupExampleInput">{{ label }}</label>
	<input class="form-control" type="{{ type }}" name="{{ name }}" id="{{ id }}" placeholder="{{ placeholder }}">
</div>
{%- endmacro %}
{% macro login(form) -%}
<form action="{{ url_for('login') }}" method="POST" enctype="multipart/form-data">
	{{ form.csrf_token }}
	<div class="form-group"> {{ form.username.label }} {{ form.username(class ="form-control")}} </div>
	{% if form.username.errors %}
	<ul class=errors>
		{% for error in form.username.errors %}
		  <li>{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	<div class="form-group"> {{ form.password.label }} {{ form.password(class ="form-control") }}</div>
	<div class="form-group"> {{ form.remember() }} {{ form.remember.label}}</div>
	<div class="form-group"> 
		<a class="nav-link" href="/register" style="float: right;">Sign Up</a> 
		<button type="submit" class="btn btn-primary">Login</button>
	</div>
</form>
{%- endmacro %}

{% macro postCard(post) -%}
<div class="card mb-3">
	<div class="card-body" id="module">
		<h5  class="card-title font-weight-bold"> {{ post.title }} </h5> 
		<p class="card-text">{{ post.content }}</p>
		{% if post.original_image != "default.jpg" %}
		<img src="{{ url_for('static', filename="img/posts/" ~ post.thumbnail) }}" class="rounded mx-auto d-block" alt="..."></img>
		{% endif %}
		<p class="card-text"></p><small class="text-muted">Uploaded: {{ post.date_created }}</small></p>
	</div>
</div>
{%- endmacro%}

{% macro petCard(pet) -%}
<div class="container">
	<div class="card">
		<img src="{{url_for('static',filename= 'img/pets/'~ pet.thumbnail) }}" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title"> {{ pet.name }} </h5>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			<a href="/searchPets/info_petID={{pet.id}}" class="stretched-link"></a>
		</div>
	</div>
</div>
{%- endmacro%}

{% macro petForm(form) -%}
<div class="container">
	<div class="form-group"> <p>Upload pet image: </p>{{ form.img() }}</div>
	<div class="form-group"> {{ form.name.label }} {{ form.name(class ="form-control")}} </div>
	<div class="form-group"> {{ form.gender.label }} {{ form.gender(class="custom-select my-1 mr-sm-2")}} </div>
	
	<div class="form-row">
		<div class="col">
			<div class="form-group"> {{ form.month.label }} {{ form.month(class="custom-select my-1 mr-sm-2")}} </div>
		</div>
		<div class="col">
			<div class="form-group"> {{ form.year.label }} {{ form.year(class ="form-control", placeholder="YYYY")}} </div>
		</div>
	</div>	
	<div class="form-group"> {{ form.weight.label }} {{ form.weight(class="form-control" ,placeholder="lbs.") }}</div>
	<div class="form-group"> {{ form.description.label }} {{ form.description(class ="form-control") }}</div>
</div>
{%- endmacro %}

{% macro searchPetForm(form) -%}
<form class="form-inline">
	{{ form.breed.label }}
	{{form.breed(class="custom-select my-1 mr-sm-3")}}
	{{ form.age.label }}
	{{form.age(class="custom-select my-1 mr-sm-3")}}
	{{ form.size.label }}
	{{form.size(class="custom-select my-1 mr-sm-3")}}
	{{ form.img.label }}
	{{form.img(class ="mr-sm-3")}}
  
	<button type="submit" class="btn btn-primary my-1">Submit</button>
  </form>
{%- endmacro %}

{% macro editProfile(user, form) -%}
<div class="form-field"> {{ form.img.label}} {{ form.img(class ="form-control") }} </div>
<div class="form-field"> {{ form.username.label}} {{ form.username(class ="form-control", value=user.username) }} </div>
<div class="form-field"> {{ form.email.label }} 	{{ form.email(class ="form-control", value=user.email ) 	}} </div>
<!-- <div class="form-field"> {{ form.password.label }} 	{{ form.password(class ="form-control") }} </div>
<div class="form-field"> {{ form.confirm.label }} 	{{ form.confirm(class ="form-control") 	}} </div> -->	
<div class="form-field"> {{ form.bio.label }} 	{{ form.bio(class ="form-control", value=user.bio) }} </div>

{%- endmacro %}

{% macro modal(icon, title, form, user) -%}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
	<i class='{{ icon }}'></i>
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">{{ title }} </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				{% if "Email" in title %}
				<textarea class="form-control" name="emailContect" rows="5" placeholder="What would you like to say?" required></textarea>
				{% elif "profile" in title %}
				{{ editProfile(user, form) }}
				{% endif %}
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				{% if "Email" in title %}
				<button type="submit" class="btn btn-primary">send</button>
				{% elif "profile" in title %}
				<button type="submit" class="btn btn-primary">save</button>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{%- endmacro %}
